<main>


    <article data-aos="fade-right" class="first-article">

        <h3>Bem vindo 👋, me chamo</h3>
        <h1 class="nome">CAIO GABRIEL</h1>
        <h1 class="full-stack-text"></h1>

        <div class="nav-links">
            <nav>
                

                <div class="links">

                    <div class="curriculo">
                        <a href="https://drive.google.com/file/d/1yvqErZAZhW994ivYZXpokpotJ8vKIEd_/view" target="_blank"><img src="curriculo.png" alt=""></a>
                    </div>

                    <div class="linkedin">
                        <a href="https://www.linkedin.com/in/wayne5421/" target="_blank"><img src="linkedin.png" alt=""></a>
                    </div>        

                    <div class="github">
                        <a href="https://github.com/Wayne5421" target="_blank"><img src="github.png" alt=""></a>
                    </div>


                </div>


            </nav>
        </div>

    </article>

    <article>


        <div class="about">
            
            <img class="pokemon" src="https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExa3NubzlhbWhnNDk0OHNqOTRrNXppY2k2emI5dGsyenZ6MWpxdnczaiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/FX5aKofPgom36xXCSe/giphy.gif" alt="">

            <button class="about-me">Sobre mim</button>
        </div>






    </article>


</main>