<div class="main-container">
  <header>
    <h3 class="nickname">
      &lt; / M a l i g n o &gt;
    </h3>
    <nav class="main-nav">
      <a href="#">
        <div class="svg-wrapper">
          <svg height="60" width="200" xmlns="http://www.w3.org/2000/svg">
            <rect class="shape1" height="60" width="200" />
            <rect class="shape2" height="60" width="200" />
          </svg>
          <div class="text">Portifólio</div>
        </div>
      </a>
      <a href="#">
        <div class="svg-wrapper">
          <svg height="60" width="200" xmlns="http://www.w3.org/2000/svg">
            <rect class="shape1" height="60" width="200" />
            <rect class="shape2" height="60" width="200" />
          </svg>
          <div class="text">Serviços</div>
        </div>
      </a>
      <a href="#">
        <div class="svg-wrapper">
          <svg height="60" width="200" xmlns="http://www.w3.org/2000/svg">
            <rect class="shape1" height="60" width="200" />
            <rect class="shape2" height="60" width="200" />
          </svg>
          <div class="text">Contato</div>
        </div>
      </a>
    </nav>
  </header>
</div>
